#body {
    background-color: rgba(0, 0, 0, 0.8);
}

#meuCanvas {
      background-color: #262145;
      display: block;
      margin: 0 auto;
      border: 5px solid #333;
}

#mensagemDerrota {
    display: none; /* Inicialmente escondido */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    background: rgb(155, 11, 11);
    color: white;
    font-size: 32px;
    padding: 60px;
    border-radius: 10px;
    border-color: #000;
    border-style: solid;
    z-index: 998; /* Para garantir que fique acima de outros elementos */
    height: 100px
}

#mensagemVitoria {
    display: none; /* Inicialmente escondido */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    background: rgb(136, 11, 155);
    color: white;
    font-size: 32px;
    padding: 60px;
    border-radius: 10px;
    border-color: #000;
    border-style: solid;
    z-index: 998; /* Para garantir que fique acima de outros elementos */
    height: 100px;
}

#nevoa {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(65, 64, 64, 0.5); /* Cor da nevoa */
    z-index: 997; /* Para garantir que fique abaixo da mensagem de vitória */
}

#restart {
    display: none; /* Inicialmente escondido */
    position: absolute;
    top: 160px;
    left: 725px;
    transform: translate(0%, 0%);
    background-color: rgba(35, 35, 35, 0.8);
    color: white;
    font-size: 5px;
    padding: 20px;
    border-radius: 10px;
    z-index: 999; /* Para garantir que fique acima de outros elementos */
}

#restart:hover {
    background-color: #333333;
}

#next {
    display: none;
    position: absolute;
    top: 160px;
    left: 800px;
    transform: translate(0%, 0%);
    background-color: rgba(35, 35, 35, 0.8);
    color: white;
    font-size: 5px;
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
}

#next:hover {
    background-color: #333;
}

/*#chaveHitbox {
    display: block; /* Exibe a hitbox da chave 
    position: absolute;
    width: 60px; /* Largura da hitbox 
    height: 50px; /* Altura da hitbox 
    top: 135px; /* Posição vertical da hitbox 
    left: 835px; /* Posição horizontal da hitbox 
    background-color: rgba(255, 0, 0, 0.5); /* Cor semi-transparente para visualização 
    border: 2px solid red; /* Borda vermelha para destacar a hitbox 
} */